<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Number</title>
    <link rel="stylesheet" href="./css/registration_number.css">

</head>
<body>  
    <header class="header">
        <div class="container reg-header">
            <h1>REGISTRATION NUMBER</h1>
        </div>
        
    </header>

    <section class="create-reg">
        <div class="container reg-create">
            <div class="reg-textbox">
                {{!-- {{#if messages.info}}
                    <div class="errors">
                        <h1> {{messages.info}}</h1>
                    </div>
                    
                {{/if}} --}}

                <form action="/action" method="POST">
                    Registration No.
                    <input type="text" name="enterReg" value="" placeholder="enter a registration number" class="regText">
                    <h4>Accepted Registration Formats</h4>
                    <p>CA 123356, CA 123 456 or CA 123-456</p>
            </div>

            <div class="reg-btn">
                    <button class="addRegBtn" on type="submit" name="button">Add Registration No. </button>
                </form>
                <form action="/reset" method="GET">
                    <button class="resetBtn" on type="submit" name="button">Reset</button>
                </form>
                
            </div>

            <div class="radio-btn">
                <form action="/reg_numbers" method="POST">
                    <input type="radio" class="radio-town" name="towns" value="capetown">Cape Town
                    <input type="radio" class="radio-town" name="towns" value="bellville">Bellville
                    <input type="radio" class="radio-town" name="towns" value="paarl">Paarl
                    <input type="radio" class="radio-town" name="towns" value="stellenbosch">Stellenbosch
            </div>

            <div class="show-btn">
                    <button class="showBtn" on type="submit" name="button">Show</button>
                </form>

                <form action="allTown" method="GET">
                    <button class="showAllBtn" on type="submit" name="button">Show All</button>
                </form>
            
            </div>

            <div class="finalReg">
                {{#if messages.info}}
                    {{messages.info}}
                    
                {{/if}}

                {{#each displayReg}}
                    <plates>{{regnumber}}</plates>
        
                {{/each}}

            </div>

        </div>

    </section>
    
</body>
</html>